body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing:border-box;
 }
 .top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    
 }
h1{
    font-size: 3rem;
}
.orange-color{
    color: orange;
}
h3{
    font-size: 1.5rem;
    text-transform: capitalize;
}
p{
    letter-spacing: 1px;
}
.btn-hire{
   background-image: linear-gradient(orange, salmon);
    color: #fff;
    font-size: 1.8rem;
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.flex-structure {
    display: flex;
}
.divided-two {
    width: 50%;
    padding: 10px 20px;
}
.divided-two img {
    width: 90%;
    height: auto;
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 100px;
}
.experience-area{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-items{
    width: 40%;
    margin-left: 5%;
    padding-left: 20px;

    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(255, 90, 22, .5);
}
#full-stack-web{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(71, 255, 178),orange);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(253, 20, 8),orange);
    border-image-slice: 1;
}
footer{
    text-align: center;
    padding: 10px 0;
}
